login.json

logs/

analyzer/analyzer
auto_matcher/auto_matcher
calculator/calculator
runner/runner
tg_livebot/tg_livebot
deleter_failpairs/deleter_failpairs
auto_unibet/auto_unibet
parse_pinnacle/parse_pinnacle
parse_lobbet/parse_lobbet
parse_sansabet/parse_sansabet
parse_betcenter/parse_betcenter
parse_ladbrokes/parse_ladbrokes
parse_starcasino/parse_starcasino
parse_unibet/parse_unibet
parse_fonbet/parse_fonbet
results/app