go 1.23.3

use (
	./analyzer
	./auto_matcher
	./calculator
	./parse_starcasino
	./parse_lobbet
	./parse_sansabet
	./parse_maxbet
	./results
	./runner
	./shared
	./tg_livebot
	./tg_testbot
	./parse_fonbet
)
