.header {
	font-size: 28px;
    text-align: center;
	color: #222;

	margin-bottom: 20px;
	padding: 20px;
    border-radius: 8px;

	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 765px) {
	.header {
		font-size: 16px;
		padding: 0;
	}
}