.app {
	display: grid;
	grid-template: auto 1fr 1fr auto / auto 1fr 1fr auto;

	min-height: 100vh;
	max-height: 100vh;
	gap: 0;
	grid-template-areas:
		". header header ."
		"body body body body"
		"body body body body"
		". footer footer .";
}

.body {
	display: block;

    height: 100%;

	padding: 30px;
	grid-area: body;
}

@media (max-width: 765px) {
	.app {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-rows: 20px 1fr auto;
		grid-template-areas:
			"header"
			"body"
			"footer";
	}

	.header {
		display: block;
	}

	.footer {
		display: none !important;
	}
	
	.body {
		padding: 0px 10px;
	}
}